image: openjdk:8-jdk-alpine

print:
    stage: test
    script:
        - echo $PATH

deploy_app:
    stage: deploy
    script:
        - eval $(ssh-agent -s)
        - echo "$SSH_PRIV_KEY" | tr -d '\r' 
        - echo "$SSH_SERVER_PUB_KEY" >> ~/.ssh/known_hosts
        - ssh piotr@ptl.cloud 'mkdir abc'
